---
import type { Lang } from "../../i18n/ui";
import { getLangUrl, type T } from "../../i18n/utils";
import { getCustomCourses } from "../../services/cursomCourses";
import { defaultLanguagesToEvaluate } from "../../services/questions";

interface Props {
	t: T;
	lang: Lang;
}

const { t, lang } = Astro.props;
const languages = defaultLanguagesToEvaluate.map((lang) => ({
	code: lang,
	name: t(`language.list.${lang}`),
}));
const parentPath = getLangUrl(Astro.url.pathname, lang).split("/").slice(0, -1);
const inicioPerguntasUrl = '/'+[...parentPath, "inicio-perguntas"].join("/");

const customCoursesData = await getCustomCourses().then(entries => {
	return entries.reduce((prev, cur) => ({
		...prev,
		[cur.data.idiomaI18nId]: [
			...(prev[cur.data.idiomaI18nId] || []),
			{
				id: cur.id,
				title: t(`testtool.custom_course.${cur.data.idiomaI18nId}.${cur.data.cursoI18nId}.title`),
			},
		],
	}), {});
})
---

<div class="text-content">
	<h3>{t("testtool.language_selection.title")}</h3>
	<div id="results" class="language-list">
		<div class="languages-container">
			{
				languages.map((lang) => (
					<label>
						<input
							type="radio"
							name="lng"
							value={lang.code}
							data-name={lang.name}
							required
						/>{" "}
						{lang.name}
					</label>
				))
			}
		</div>
	</div>
</div>

<div class="form-group">
	<label for="newlng"
		>{t("testtool.language_selection.choose_different")}</label
	>
	<input type="text" class="form-control" id="newlng" />
</div>
<div class="courses-list" style={{ display: "none" }}>
	<h3>{t("testtool.custom_course_selection.title")}</h3>
	<div class="courses-container">
	</div>
</div>
<div class="button-group">
	<a class="btn btn-danger" id="continue_button" href={inicioPerguntasUrl}>
		{t("testtool.language_selection.start_button")}
	</a>
</div>

<script id="custom-courses-data" type="application/json" set:html={JSON.stringify({ customCoursesData })}></script>

<script>
	const langInputs = document.querySelectorAll(
		"[name=lng]",
	) as NodeListOf<HTMLInputElement>;
	if (!langInputs.length)
		throw new Error("No pre-defined language options found.");

	const customLangInput = document.querySelector(
		"#newlng",
	) as HTMLInputElement;
	if (!customLangInput)
		throw new Error("Input field for custom language not found.");

	const coursesList = document.querySelector(".courses-list") as HTMLElement;
	if (!coursesList) throw new Error("Courses list element not found.");

	const languagesContainer = coursesList.querySelector(".courses-container") as HTMLElement;
	if (!languagesContainer) throw new Error("Languages container element not found.");

	const btn = document.getElementById("continue_button") as HTMLAnchorElement;
	if (!btn) throw new Error("Link element not found.");

	const data = JSON.parse(document.getElementById("custom-courses-data").textContent);

	function showCourses() {
		const langSelectedInput = document.querySelector(
			"[name=lng]:checked",
		) as HTMLInputElement;

		if (langSelectedInput) {
			const langCodeChoosen = langSelectedInput.value;

			if (data.customCoursesData[langCodeChoosen]) {
				languagesContainer.innerHTML = [
					{ id: "default", title: t("testtool.custom_course_selection.default_option") },
					...data.customCoursesData[langCodeChoosen],
				].map(course => `
					<label>
						<input
							type="radio"
							name="curso"
							value="${course.id}"
							required
						/>
						${course.title}
					</label>
				`).join("");

				coursesList.style.display = "block";
			} else {
				languagesContainer.innerHTML = "";
				coursesList.style.display = "none";
			}
		} else {
			languagesContainer.innerHTML = "";
			coursesList.style.display = "none";
		}
	}

	langInputs.forEach((i) =>
		i.addEventListener("change", () => {
			customLangInput.value = "";
			showCourses()
		}),
	);

	customLangInput.addEventListener("change", evt => {
		let found = false
		langInputs.forEach(i => found = found || (i.checked = i.getAttribute("data-name") === evt.target.value));
		if (found) evt.target.value = ""
		showCourses()
	});

	btn.addEventListener("click", (evt) => {
		evt.preventDefault();
		const elem = evt.target as HTMLAnchorElement;

		const langSelectedInput = document.querySelector(
			"[name=lng]:checked",
		) as HTMLInputElement;

		if (langSelectedInput) {
			const langCodeChoosen = langSelectedInput.value;
			sessionStorage.setItem(
				"langChoosen",
				JSON.stringify({ code: langCodeChoosen }),
			);
		} else {
			if (!customLangInput.value) {
				langInputs[0].reportValidity();
				return;
			}
			const langNameChoosen = customLangInput.value;
			sessionStorage.setItem(
				"langChoosen",
				JSON.stringify({ name: langNameChoosen }),
			);
		}

		if (languagesContainer.innerHTML) {
			const courseSelectedInput = languagesContainer.querySelector(
				"[name=curso]:checked",
			) as HTMLInputElement;

			if (courseSelectedInput) {
				const value = courseSelectedInput.value
				if (value !== "default") {
					sessionStorage.setItem("curso", courseSelectedInput.value);
				}
			} else {
				languagesContainer.querySelector("input")?.reportValidity()
				return;
			}
		}

		window.location.replace(elem.href);
	});
</script>

<style>
	.text-content {
		flex: 1;
		padding-right: 20px;
	}

	.languages-container, .courses-container {
		display: flex;
		flex-wrap: wrap;
	}
	.courses-container {
		flex-direction: column;
	}

	.languages-container label {
		flex: 0 0 140px;
		margin: 5px;
		background-color: #0001;
		transition: all 0.4s;
		cursor: pointer;
	}

	.courses-container :global(label) {
		flex: 1;
		margin: 5px;
		background-color: #0001;
		transition: all 0.4s;
		cursor: pointer;
	}
	.languages-container label:hover {
		background-color: #0002;
	}

	.form-group {
		margin: 20px 0;
	}
	.form-group label {
		font-size: 16px;
	}
	.form-group input {
		display: block;
		box-sizing: border-box;
		width: 400px;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	}
	.button-group {
		display: flex;
		justify-content: center;
		gap: 5px;
		margin-top: 20px;
	}

	.btn {
		display: inline-block;
		background-color: #dc3545;
		color: #fff;
		border: none;
		padding: 10px 20px;
		font-size: 16px;
		cursor: pointer;
		text-decoration: none;
	}

	.btn:hover {
		background-color: #c82333;
	}

	@media (max-width: 768px) {
		.text-content {
			flex: 100%;
			padding-right: 0;
		}

		.languages-container label {
			flex: 0 0 100%; /* Stack labels on smaller screens */
		}
	}
</style>
